Repository tu-sofia-lessons/devops-template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @release-team, @ops-team, @monitoring-team, @docs-standards-team, @incident-response-team

.github/CODEOWNERS:

/release-notes/*         @release-team
/ops/*                   @ops-team
/monitoring/*            @monitoring-team
/governance/*            @docs-standards-team
/runbooks/*              @incident-response-team

Fix formatting in metrics.yaml by adding a newline at the end of the file
  monitoring/metrics.yaml
Owners: @monitoring-team

Fixing all linting issues
  .github/workflows/workflow.yaml
  monitoring/metrics.yaml
  ops/rollback-plan.yaml
  ops/rollout-plan.yaml
Owners: @monitoring-team, @ops-team

Fixing README
  README.md
Owners: none

Fix formatting in metrics.yaml by adding a newline at the end of the … (#1)
  .github/workflows/workflow.yaml
  README.md
  monitoring/metrics.yaml
  ops/rollback-plan.yaml
  ops/rollout-plan.yaml
Owners: @monitoring-team, @ops-team

creaated new branch for my team and added a file
  governance/owners.yaml
Owners: @docs-standards-team

YES
  governance/owners.yaml
Owners: @docs-standards-team

Created the layout for the work we have to do
  governance/contribution-standards.md
  governance/contribution-standards.yaml
  governance/style-guide.md
  governance/style-guide.yaml
Owners: @docs-standards-team

feat: add random changes
  governance/contribution-standards.md
  governance/style-guide.md
Owners: @docs-standards-team

feat: add more random changes
  governance/style-guide.md
Owners: @docs-standards-team

feat(monitoring): add playbook and metrics for release 1.0
  monitoring/metrics.yaml
  monitoring/playbook.md
Owners: @monitoring-team

feat(monitoring): add playbook and metrics for release 1.0
  monitoring/metrics.yaml
Owners: @monitoring-team

runbooks yaml files added
  runbooks/incident-response.yaml
  runbooks/postmortem-template.yaml
Owners: @incident-response-team

Create dashboards.yaml
  monitoring/dashboards.yaml
Owners: @monitoring-team

Added High Error Log Rate Monitor
  monitoring/metrics.yaml
Owners: @monitoring-team

feat(monitoring): add alerts.yaml
  monitoring/alerts.yaml
  monitoring/dashboards.yaml
Owners: @monitoring-team

Update dashboards.yaml
  monitoring/dashboards.yaml
Owners: @monitoring-team

Update alerts.yaml
  monitoring/alerts.yaml
Owners: @monitoring-team

Added new line at end of file
  monitoring/metrics.yaml
Owners: @monitoring-team

Update metrics.yaml
  monitoring/metrics.yaml
Owners: @monitoring-team

Create GTsv.yml
  .github/workflows/GTsv.yml
Owners: none
